* {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;

}

/* BACKGROUND: `linear-gradient(-20deg, #96D0A7, #249ECD)` */
html{
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: '#21ba45';
  font-size:26px;
  max-width: 100%;
  overflow: auto;
  height: 100%;
  overflow-x: hidden;
}
body {
  height: 100%;
  overflow-x: hidden;

}

h2{
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size:1rem;
}


.body{
  max-width: 884px;
  margin:auto;
}
.circleSVG{
  float:right;

}

.footerHome{
  background:#fff;
  color: #333;
  text-align: center;
}
.inputRange{

}
@media (min-width: 1401px) {
  body{
    font-size: 22px;
  }
  .desktopSectionFirstRowCell{
    line-height: 1.2rem;
  }
  .desktopSectionSubTitle{
    padding-bottom: .5rem;

  }
}
@media (max-width: 1400px) {
  h2{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
  }
  body, html{
    color: '#21ba45';
    font-size:26px;
    overflow-x: hidden;
  }
  .body{
    max-width: 484px;
    margin:auto;
  }
}
@media (max-width: 830px) {
  h2{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
  }
  body, html{
    color: '#21ba45';
    font-size:20px;
    overflow-x: hidden;
  }
}
@media (max-width: 430px) {
  h2{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
  }

  body, html{
    color: '#21ba45';
    font-size:24px;
    overflow-x: hidden;
  }
  .quiz{
    padding-top:50px;
  }
}
@media (max-width: 380px) {
  h2{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
  }
  body, html{
    color: '#21ba45';
    font-size:22px;
    overflow-x: hidden;
  }
  .quiz{
    padding-top:50px;
  }
}
@media (max-width: 330px) {
  body, html{
    color: '#21ba45';
    font-size:20px;
    overflow-x: hidden;
  }
  h2{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size:1rem;

  }
  .quiz{
    padding-top:  0px;
  }
}

.whiteText {
  color:'white';
}
h3{
  color: #444;
}
p{
  font-size: .9rem;
  color: #444;
}
.backgroundColor{
  background: linear-gradient(-20deg, #96D0A7, #249ECD );
}

.backgroundWhite{
  background-color:'white';
}

.backgroundTransparent{
  background: rgba(0,0,0,0);
}


.answerOption{
  margin: 0;
  padding: 0;
  list-style: none;
}
.landingTitle{
   text-align:left;
   font-size:.8rem;
   font-weight: 600;
   color:white;
   padding: 25px;
   margin-bottom: -10px;
   font-family: 'Open Sans', sans-serif;

}

p.landingTitle{
  margin-bottom: -10px;
}

div.ui.grid.landingWrapper {
  padding-top:20px;
  padding-bottom: 50px;
}


.button.ui.button.landingButton{
  margin:auto;
  width: 250px;
  padding:15px 25px;
  background: rgba(255,255,255,1);
  border-radius: 50px;
  border-width: 1px;
  border-color: white;
  border-style: solid;
  color: #249ECD;
  font-family: 'Quicksand',sans-serif ;
  margin-top: 20px;
  font-size: .7rem;
  -webkit-box-shadow: 4px 4px 18px -8px rgba(0,0,0,0.41);
  -moz-box-shadow: 4px 4px 18px -8px rgba(0,0,0,0.41);
  box-shadow: 4px 4px 18px -8px rgba(0,0,0,0.41);
}

.button.ui.button.landingButtonNext{
  margin:auto;
  width: 250px;
  padding:15px 25px;
  text-align: center;
  color: white;
  font-family: 'Quicksand',sans-serif ;
  margin-top: 20px;
  font-size: .8rem;
  background: rgba(255,255,255,0);
  text-decoration: underline;
  text-transform: capitalize;
  opacity:1;

}

.button.ui.button.Active{
  border-color: #249ECD;
  opacity:.7;
  /* color: orange; */

}




.landingImage{
   border-radius: 40px;
   position: relative;
   width: 100%;
   height: 250px;
}

.footerFooterHome{
  color: white;
  background:#4E4E4E;
  text-align:left;
}

.footerFooterHome p{
  color: white;
  padding: 1rem;
  font-size: .6rem;
}
.landingIntro:before{

}
.overlay {
  position: relative;
  border-radius: 40px;

}
.overlay:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: block;
  z-index:0;
}


.homeFeatIcon{

}


div.homeFeatText{
  padding:0;
  width: 80%;
  text-align: left;
  font-size: .9 rem;
}
div.homeFeatIcon{
  margin:0 20px 0px 0px;
  width: 80px;
}

.homeFeatRow{
  display: flex;
}
.homeFeatRow{
    padding:30px 20px;
}
.white:before{
  border-radius: 40px;
  background: linear-gradient( rgba(255,255,255,0),#FFF 75% );
}

.landingTextFooter{
  width:100%;
  bottom:0;
  padding: 10px;
  font-size: .8em;
}

.landingTextFooterHow{
  width:100%;
  position:relative;
  bottom:0;
  padding: 10px;
  text-align: left;
  font-size: .8rem;
}


.container {
  position: relative;
  /*  */
}

@media (min-width: 769px) {
  .container {
    margin: 2.5rem auto;
  }
}

/* Result Component */
.result {
  height: 400px;
  padding: 1.5rem 2.5rem;
}

/* Quiz Component */
.answerOptions {
  margin: 0;
  padding: 0;
  margin-top:50px;
  margin-bottom:50px;
  list-style: none;
}

/* QuestionCount Component */
.questionCount {
  padding: 1.5rem 2.5rem 0;
  font-size: .6rem;
  opacity: 1;
  text-align: left;
}


.quiz{
  margin-top: 70px;
}
/* Question Component */
.question, .dialog {
  margin: 0;
  padding: 0.5rem 2.5rem 1.5rem 2.5rem;
  font-size: .8rem;
  font-weight: 700;
}
@media (max-width: 769px) {
  .question{
    /* margin-bottom: 1rem; */
  }
}

/* AnswerOption Component */
.answerOption {
  /* border-top: 1px solid #eee; */
}

.answerOption:hover {
  /* background-color: #eefbfe; */
  /* color:grey; */
}

.radioCustomButton, .customButton {
    width: auto;
    opacity: 1;
}

.radioCustomButton,
.radioCustomLabel,
.customButton {
    display: block;
    vertical-align: middle;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

.radioCustomLabel {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 1.5rem 2.5rem 1.5rem 5rem;
    font-size: 16px;
    line-height: 1.5;
}

.radioCustomButton ~ .radioCustomLabel:before {
    position: absolute;
    top: 20px;
    left: 38px;
    width: 28px;
    height: 28px;
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #bbb;
    border-radius: 50%;
    transition: all 0.3s;
}

.radioCustomButton:checked ~ .radioCustomLabel:before {
    content: '';
    background: #8BC53F url(./svg/icon-check.svg) no-repeat;
    background-size: 27px;
    border-color: #8BC53F;
}

.customButton{
  color: white;
  background:rgba(0,0,0,0);
  border: 1px solid #FFF;
  border-radius: 40px;
  /* padding-right: 150px;
  padding-left: 150px; */
  width: 300px;
  flex:auto;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: .8rem;
  margin:15px auto;
  text-align: center;
}

.customButton.active{
  color:#70CACC;
  background: white;
}

.google-map{
  height: 200px;
  width: 100%;
  z-index:2;
  position: relative;
}
Input{
  margin-bottom:20px;
}
@media (max-width: 330px) {
  .question{
    margin:0;
  }

.customButton{
  color: white;
  background:rgba(0,0,0,0);
  border: 1px solid #FFF;
  border-radius: 40px;
  /* padding-right: 150px;
  padding-left: 150px; */
  width: 200px;
  flex:auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: .8rem;
  margin:15px auto;
  text-align: center;
  }

  .button.ui.button.landingButton{
    width: 220px;
    padding:10px 0;
    font-size: .7rem;
  }
}


.customButton:before {
    color:white;
    display: inline-block;
    vertical-align: middle;
    background: rgba(0,0,0,0);
    border-radius: 40px;
    transition: all 0.3s;
}

.customButton:checked{
    background: #8BC53F url(./svg/icon-check.svg) no-repeat;
    background-size: 27px;
    border-color: #8BC53F;
}
/* Quiz Component */
.answerOptions {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  padding-bottom: 50px;
}
@media (max-width: 330px) {
  .answerOptions {
    padding-bottom: 50px;
  }
}
/* Animation */
.fade-enter {
    opacity: 0;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out 0.3s;
    transition-delay: 1.5s;
}

.fade-leave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    transition: opacity 1s ease-in;

}

.fade-leave.fade-leave-active {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-appear {
    opacity: 0;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

/* second animation */
.dialog-enter, .dialog-appear  {
    opacity: 0;
    transform:   translate(-250px,0);
    transform: translate3d(-250px,0,0);
}
.dialog-enter.dialog-enter-active, .dialog-appear.dialog-appear-active {
	opacity: 1;
	transition: opacity 1s ease;
	transform:   translate(0,0);
	transform: translate3d(0,0,0);
	transition-property: transform, opacity;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}
/* BURGER */
.burger-menu,
.burger-menu.open {
  display: inline-block;
  cursor: pointer;
  left: 20px;
  top: 15px;
  z-index: 998;
  padding: 10px;
}

.burger-menu .bar1,
.bar2,
.bar3 {
  width: 23px;
  height: 1.5px;
  background-color: #FFF;
  margin: 5px 0;
  transition: 0.4s;
}



.logo{
  -webkit-text-stroke: 1.5px white;
}

.logoReplacementWrapper{
  margin-top:-130px;
  background: linear-gradient(-20deg, #96D0A7, #249ECD );
  height: 200px;
  width: 100%;
  padding-top:40px;
  z-index:10;
  position:relative;
  -webkit-box-shadow: 0px 2px 21px -4px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 21px -4px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 21px -4px rgba(0,0,0,0.2);
}

.logoReplacement{
  color:white;
  font-weight: 900;
  font-size: 1rem;
}
.directoryContainer{
  background:white;
  padding-bottom: 40px;

}

.directoryFilterBar{
  background: #DDDDDD;
  height: 50px;
  width: 100%;
}

.directoryHeaderSentence{
    color:#4C4C4B;
    padding:30px 20px 20px 5px;
    font-size: .7em;
    font-weight: 900;
    -webkit-text-stroke: .5px #4C4C4B;
}

.directoryRecommendationTitle{
  color:#70CACC;
  font-weight: bold;
  -webkit-text-stroke: 1px #70CACC;
  font-size: 1rem;
}


.directoryBarbaraDiv{
    /* overflow: hidden; */
    /* border-bottom: .5px solid #70CACC; */
    padding:20px;
    height: 110px;
}

div.ui.grid.directoryBarbaraDiv{
  margin:0;
  margin-right: 1rem;
  margin-top:-30px;
}

.directoryRecommendationSpace{
  height: 40px;
}


.directoryCategory{
  font-size: .5rem;
  font-weight: 900;
  text-transform: uppercase;
  padding: .2rem;
  color:white;
}

.directoryIcon{
  margin: auto;
  padding-top: 8px;
  background: white;
  border-radius: 100%;
  height: 60px;
  width: 60px;
  text-align: center;
  -webkit-box-shadow: 0px 2px 21px -4px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 21px -4px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 21px -4px rgba(0,0,0,0.2);
}
.directoryNotSelected{
  background: rgba(255,255,255,.3)
}
.directoryCommentWrapper{
  border-radius: 40px;
  background-color:#249ECD;
  padding:30px;
  -webkit-box-shadow: 0px 2px 21px -4px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 21px -4px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 21px -4px rgba(0,0,0,0.2);
  font-weight: 900;
  margin-bottom: 10px;
  background: linear-gradient(-20deg, rgba(36,158,205,.7),#249ECD );
}
.directoryComment{
  color:'#484548';
  color:white;
  font-size: .8rem;
}
.directoryTitle{
  padding-top: 20px;
  color: black;
}
.solutionWrapper{
  height: 200px;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-base-color:#ffeaff;
}
.solutionWrapper::-webkit-scrollbar {
    height: 0px;
}


.solutionContainer{
  padding: 0px 20px;
  margin:0px 0px ;
  display: inline-block;
  /* background: white; */
  width: 100%;
  height: 150px;
  color:white;
  padding-right: 0;
}
.directoryBarbaraWrapper{
  position: relative;
  background: white;
  padding: 10px 20px;
  border-radius: 90%;
  overflow: hidden;
  margin-left: -100px;
  margin-right: -100px;
  height: 250px;
  margin-top: -50px;
  z-index: 1;
}
.directoryBarbaraWrapperInner{
  margin:auto;
  position: absolute;
  bottom: 50px;
  margin-left:100px;
  margin-right: 100px;
}
.recommendationContainer{
  overflow: hidden;
  border-radius: 20px;
  background:rgb(112, 201, 203);
  margin:30px 0px;
  display: inline-block;
  width: 100%;
  height: 670px;
  color:black;
  -webkit-box-shadow: 0px 2px 21px -4px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 21px -4px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 21px -4px rgba(0,0,0,0.2);
  padding-right: 0;
}

.recommendationContainerMap{
  height: 870px;
}

.directoryFilterBar{
  background: #DDDDDD;
  height: 42px;
  width: 100%;
}
.filterNormal{
  font-size: .6rem;
  padding: .5rem;
}
.filterHighlight{
    font-size: .7rem;
    font-weight: 500;
}
.filterFilter{
    font-size: .7rem;
    font-weight: 900;
}

.solutionContainer h2{
  padding: 0;
  margin:0;
  padding-bottom: 10px;
}
.solutionDescription{
  font-size: .6em;
  padding-right: 0;
  margin-right: 0;
  font-family: sans-serif;
  font-weight: 400;
}
.directorySolutionWrapper{
  position: relative;
  display: block;
  background: grey;
  height: 90%;
  width: 90%;
  margin:10px;
}
.solutionContent{
  padding: 20px 0 0 20px;
  width: 100%;
}

.solutionCateg, .solutionPrice{
  font-size: .6em;
  color: grey;
}
.solutionText, .solutionImage{
  padding: 0;
}


input[type=range] {
  -webkit-appearance: none;
  width: 70%;
  margin: 16.7px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5.6px;
  cursor: pointer;
  box-shadow: 0px 0px 0.4px #000000, 0px 0px 0px #0d0d0d;
  background: #ffffff;
  border-radius: 25px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 39px;
  width: 24px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -16.7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5.6px;
  cursor: pointer;
  box-shadow: 0px 0px 0.4px #000000, 0px 0px 0px #0d0d0d;
  background: #ffffff;
  border-radius: 25px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 39px;
  width: 24px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5.6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #f2f2f2;
  border: 0px solid #010101;
  border-radius: 50px;
  box-shadow: 0px 0px 0.4px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #ffffff;
  border: 0px solid #010101;
  border-radius: 50px;
  box-shadow: 0px 0px 0.4px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 39px;
  width: 24px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  height: 5.6px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ffffff;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ffffff;
}


.CalendarSVG, .AppSVG, .starSVG, .lockSVG{
  width: 50px;
  height: 50px;
  margin-top: 15px;
}
.starSVG, .lockSVG{
  width: 40px;
  height: 40px;
  margin-top: 20px;
}
.CalendarSVG .cls-1{fill:none;}
.CalendarSVG  .cls-1,.cls-2,.cls-3,.cls-4{stroke:#70CACC;stroke-miterlimit:10;}
.CalendarSVG  .cls-1,.cls-3{stroke-width:10px;}
.CalendarSVG  .cls-2,.cls-4{fill:#70CACC;}
.CalendarSVG  .cls-3{fill:#70CACC;}
.CalendarSVG  .cls-4{font-size:54px;font-family:Quicksand-Bold, Quicksand;font-weight:700;}

.AppSVG .cls-1{fill:#70CACC;
  stroke:#70CACC;
  stroke-miterlimit:10;
}

.starSVG .cls-1{fill:#F7E006;stroke:#F7E006;stroke-miterlimit:10;}

.lockSVG .cls-1{fill:#70CACC;stroke:#70CACC;stroke-miterlimit:10;}
.lockSVG .cls-2{fill:#FFF;}








/* DESKTOP VERSION */

.desktopHeader{
  background: url("assets/images/home/desktopBkg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 0;
  padding-top: 66.64%;
  position: relative;
}

.desktopHeaderHeader{
  color: rgba(112, 202, 204,1);
  position: fixed;
  padding:1% 2%;
  font-weight: 900;
  background: rgba(255, 255, 255,1);
  width: 100%;
  top:0;
  z-index: 100;
  box-shadow: 0 2px 3px 0 hsla(216, 3%, 69%, .25);
}

.desktopHeaderHeaderRight{
    position: absolute;
    right: 3%;
    color: #aaa;
    font-weight: 300;
    font-size: .8rem;
}
.desktopHeaderHeaderRightElement{
  margin-left: 50px;
  color: #aaa;
}

.desktopHeaderTitle{
  position: absolute;
  background: rgba(0,0,0,0);
  /* border-radius: 50px; */
  height: 300px;
  width: 500px;
  margin-left: -250px;
  margin-top: -150px;
  top:50%;
  left:25%;
  color: white;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
}

.desktopHeaderButton{
  font-size: .8rem;
  line-height: 5rem;
  border-style: solid;
  border-width: 1px;
  border-radius: 100px;
  padding: 20px 100px;
  font-weight: 700;
  color: white;
  border-color: white;
}
.desktopFirstSection{
  /* height: 800px; */
  background: white;
  position: relative;
  color: #4d4d4d;
  margin:50px;
}

.desktopSecondSection{
  /* height: 800px; */
  padding: 25px;
  color: white;
  /* background: grey; */
}

.desktopFooter{
  padding: 50px;
  height: 300px;
  background: #4d4d4d;
  font-size: .6rem;
}

.desktopSectionTitle{
  height: 10%;
  padding-left: 50px;
  margin-top: 50px;
  font-size: 1.5rem;
  font-weight: 900;
  padding-bottom: 100px;
}
.desktopSectionSubTitle{
    font-size: 1.2rem;
    font-weight: 900;
}
.desktopSectionContent{
  display: flex;
  height: 80%;
}
.desktopSectionLeft{
  background: url("assets/images/home/pic5.png") center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 50%;
  height:600px;
  position: relative;
  display: flex;

}

.desktopSectionRight{
  position: relative;
  display: block;
  height: 100%;
  background: white;
  width: 40%;
  color: #4d4d4d;
  font-size: 1rem;
  text-align: center;
}
.desktopSectionFooter{
  height: 10%;
  color: #4d4d4d;
  padding-top: 50px;
  text-align: center;
}
.desktopSectionFirstRow{
  display: flex;
  margin-top:25px;
  padding-left: 50px;

}

.desktopSectionSecondRow{
  display: flex;
  margin-top:25px;
  padding: 0px 250px 50px 25px;
  font-family: 'Helvetica';
  font-weight: 100;
}
.desktopIcon{
  width: 100px;
  height: 100px;
  background:white;
  border-radius: 100%;
}

.desktopIcon svg{
  margin-left: 25px;
  width: 100px;
  height: 100px;

}
.desktopIconList{
  width: 100px;
  height: 100px;
  margin: 25px;
  background:white;
  border-radius: 100%;
}

.desktopIconList svg{
  padding: 15px;
  width: 100px;
  height: 100px;

}
.desktopSectionFirstRowCell{
    width:80%;
}
.desktopIconArrows{
  width: 30px;
  height: 40px;
  margin:25px auto;
}

.desktopContactSection{
  color: #4d4d4d;
  padding: 50px;
}
.desktopContactInput{
  margin-left: 50px;
  width:100%;
  font-family: 'Helvetica';
  font-weight: 100;
  font-size: .8rem;
  padding:10px;
}

.desktopContactInput input{
  width: 350px;
  padding: 10px;
  border-style: solid;
  border-color: #70CACC;

}

.desktopContactButton{
  margin-top: 25px;
  margin-left: 60px;
  font-size: .8rem;
  padding:10px 55px;
  background: #70CACC;
  border-radius: 50px;
  border-style: solid;
  border-color: white;
  color: white;
}

.desktopFooterLogo{
  color: white;
  font-weight: 900;
  font-size: 1rem;
  padding-bottom: 50px;

}


@media (max-width: 1080px) {
  body{
    font-size: 20px;
  }
  .desktopHeaderTitle{
    margin-left: -120px;
    height: 300px;
    width: 350px;
    margin-top: -100px;
    top: 50%;
    left: 25%;
    color: white;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
  }
  .desktopHeaderButton{
    font-size: .8rem;
    line-height: 5rem;
    border-style: solid;
    border-width: 1px;
    border-radius: 100px;
    padding: 10px 60px;
    font-weight: 700;
  }
  .desktopIcon{
    width: 10px;
  }
  .desktopIcon svg{
    width: 80px;
    height: 80px;
  }
  .desktopSectionTitle{
    padding-bottom: 50px;
  }
  .desktopSectionSecondRow{
    padding: 0px 150px 50px 25px;
  }
  .desktopSectionLeft{
    height: 500px;
  }
  .desktopSectionFirstRowCell{
    font-size: .8rem;
  }
  .desktopIconArrows{
    width: 20px;
    height: 30px;
    margin: 15px auto;
  }
}

.classOverlay{
  position: absolute;
  height: 100%;
  width:100%;
  background:white;
  z-index: 100000;
  opacity:1;
  padding:50px;
  padding-top:100px;
  text-align: center;
  margin-top: -100px;
}
.classOverlay p{
  font-size: .8rem;
  text-align: center;
}
.loader{
  height: 100px;
  width: 20%;
  text-align: center;
  margin: 3em auto 1em;
  display: inline-block;
  vertical-align: top;
}
.loader svg path{
fill: #FF6700;
}
