
* {
  box-sizing: border-box;
}

/* BACKGROUND: `linear-gradient(-20deg, #96D0A7, #249ECD)` */
body, html{
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: '#21ba45';
  font-size:42px;
  max-width: 100%;
  overflow-x: hidden;
}

h2{
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size:1rem;
}


.body{
  max-width: 884px;
  margin:auto;
}
.circleSVG{
  float:right;

}

.footerHome{
  height: 300px;
  background:#eeeeee;
  color: #333;
  text-align: center;
  margin-top: 100px;
}
.inputRange{

}


@media (max-width: 1400px) {
  h2{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
  }
  body, html{
    color: '#21ba45';
    font-size:22px;
    overflow-x: hidden;
  }
  .body{
    max-width: 484px;
    margin:auto;
  }
}
@media (max-width: 830px) {
  h2{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
  }
  body, html{
    color: '#21ba45';
    font-size:28px;
    overflow-x: hidden;
  }
}
@media (max-width: 430px) {
  h2{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
  }

  body, html{
    color: '#21ba45';
    font-size:24px;
    overflow-x: hidden;
  }
  .quiz{
    padding-top:50px;
  }
}
@media (max-width: 380px) {
  h2{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
  }
  body, html{
    color: '#21ba45';
    font-size:22px;
    overflow-x: hidden;
  }
  .quiz{
    padding-top:50px;
  }
}
@media (max-width: 330px) {
  body, html{
    color: '#21ba45';
    font-size:20px;
    overflow-x: hidden;
  }
  h2{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size:1rem;

  }
  .quiz{
    padding-top:  0px;
  }
}

.whiteText {
  color:'white';
}
h3{
  color: #444;
}
p{
  font-size: .9rem;
  color: #444;
}
.backgroundColor{
  background-color: linear-gradient(-20deg, '#96D0A7', '#249ECD' );
}

.backgroundWhite{
  background-color:'white';
}

.backgroundTransparent{
  background: rgba(0,0,0,0);
}


.answerOption{
  margin: 0;
  padding: 0;
  list-style: none;
}








.container {
  position: relative;
  /*  */
}

@media (min-width: 769px) {
  .container {
    margin: 2.5rem auto;
  }
}

/* Result Component */
.result {
  height: 400px;
  padding: 1.5rem 2.5rem;
}

/* Quiz Component */
.answerOptions {
  margin: 0;
  padding: 0;
  margin-top:50px;
  margin-bottom:50px;
  list-style: none;
}

/* QuestionCount Component */
.questionCount {
  padding: 1.5rem 2.5rem 0;
  font-size: .6rem;
  opacity: 1;
}

/* Question Component */
.question, .dialog {
  margin: 0;
  padding: 0.5rem 2.5rem 1.5rem 2.5rem;
  font-size: .8rem;
  font-weight: 700;
}
@media (max-width: 769px) {
  .question{
    margin-bottom: 1rem;
  }
}

/* AnswerOption Component */
.answerOption {
  /* border-top: 1px solid #eee; */
}

.answerOption:hover {
  /* background-color: #eefbfe; */
  /* color:grey; */
}

.radioCustomButton, .customButton {
    width: auto;
    opacity: 1;
}

.radioCustomButton,
.radioCustomLabel,
.customButton {
    display: block;
    vertical-align: middle;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

.radioCustomLabel {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 1.5rem 2.5rem 1.5rem 5rem;
    font-size: 16px;
    line-height: 1.5;
}

.radioCustomButton ~ .radioCustomLabel:before {
    position: absolute;
    top: 20px;
    left: 38px;
    width: 28px;
    height: 28px;
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #bbb;
    border-radius: 50%;
    transition: all 0.3s;
}

.radioCustomButton:checked ~ .radioCustomLabel:before {
    content: '';
    background: #8BC53F url(./svg/icon-check.svg) no-repeat;
    background-size: 27px;
    border-color: #8BC53F;
}

.customButton{
  color: white;
  background:rgba(0,0,0,0);
  border: 1px solid #FFF;
  border-radius: 40px;
  /* padding-right: 150px;
  padding-left: 150px; */
  width: 300px;
  flex:auto;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: .8rem;
  margin:15px auto;
  text-align: center;
}
Input{
  margin-bottom:20px;
}
@media (max-width: 330px) {
  .question{
    margin:0;
  }

.customButton{
  color: white;
  background:rgba(0,0,0,0);
  border: 1px solid #FFF;
  border-radius: 40px;
  /* padding-right: 150px;
  padding-left: 150px; */
  width: 200px;
  flex:auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: .8rem;
  margin:15px auto;
  text-align: center;
  }
}


.customButton:before {
    color:white;
    display: inline-block;
    vertical-align: middle;
    background: rgba(0,0,0,0);
    border-radius: 40px;
    transition: all 0.3s;
}

.customButton:checked{
    background: #8BC53F url(./svg/icon-check.svg) no-repeat;
    background-size: 27px;
    border-color: #8BC53F;
}
/* Quiz Component */
.answerOptions {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  padding-bottom: 250px;
}
@media (max-width: 330px) {
  .answerOptions {
    padding-bottom: 50px;
  }
}
/* Animation */
.fade-enter {
    opacity: 0;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out 0.3s;
}

.fade-leave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
}

.fade-leave.fade-leave-active {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-appear {
    opacity: 0;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}


input[type=range] {
  -webkit-appearance: none;
  width: 70%;
  margin: 16.7px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5.6px;
  cursor: pointer;
  box-shadow: 0px 0px 0.4px #000000, 0px 0px 0px #0d0d0d;
  background: #ffffff;
  border-radius: 25px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 39px;
  width: 24px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -16.7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5.6px;
  cursor: pointer;
  box-shadow: 0px 0px 0.4px #000000, 0px 0px 0px #0d0d0d;
  background: #ffffff;
  border-radius: 25px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 39px;
  width: 24px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5.6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #f2f2f2;
  border: 0px solid #010101;
  border-radius: 50px;
  box-shadow: 0px 0px 0.4px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #ffffff;
  border: 0px solid #010101;
  border-radius: 50px;
  box-shadow: 0px 0px 0.4px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 39px;
  width: 24px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  height: 5.6px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ffffff;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ffffff;
}
